/** --- Main styles --- */
html, body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #932023;
}

* {
    box-sizing: border-box;
}

main{
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
}


/** --- Header --- */
header form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type="search"],
#searchBtn{
    padding: 10px 15px;
    font-size: 1.25rem;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    transition: .25s linear;
}

#searchBtn:hover{
    background: darkgreen;
    color: #fff;
}

input[type="search"]{
    flex-basis: 77%;
}

input[type="search"]:invalid{
    background: #ff6969;
}
input[type="search"]:invalid + #searchBtn{
    color: lightgrey;
    background: darkgrey;
}

/** --- Movies --- */
.movies{
    margin-top: 25px;
}

.movies__search-status{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.movies-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie{
    display: block;
    position: relative;
    width: 170px;
    height: 250px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow .5s;
}

.movie:hover{
    box-shadow: 0 0 10px #000;
}

/** Bottom shadow */
.movie:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    box-shadow: inset 0px -60px 57px -59px #000;
}

.movie > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Off user select and drag image */
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.movie > .movie__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-family: Georgia, serif;
}

.movie__click-zone{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#cloneMovie{
    display: none;
}

/** --- Modal --- */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000008f;
    overflow: auto;
}

.modal.active{
    display: block;
}

.modal-content{
    position: relative;
    width: 600px;
    height: auto;
    padding: 20px;
    background: #fff;
    margin: 50px auto;
    border-radius: 20px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); */
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
}

.modal-info-list .title{
    font-weight: bold;
}

.modal-content > .box > img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.modal-content > .box a{
    text-decoration: underline;
    color: #3578c6;
}